# pycache
**/__pycache__/
backend/.venv
backend/.env
backend/node_modules
backend/package-lock.json
backend/.serverless/
.venv


# personal configs
.vscode
main.py
output.txt
test.png
test.py
register.py
testlogin.py