/* TYPOGRAPHY */
.TPG-Title {
  font-family: "Neptune";
  font-weight: 400;
}

.Headings-Titles {
  font-family: "Century Gothic";
  font-weight: 800;
  font-size: 64px;
}

.Subheadings-1 {
  font-family: "Tw Cen MT";
  font-weight: 400;
}

.Subheadings-2 {
  font-family: "Biko";
  font-weight: 400;
}

.Formal-Letters {
  font-family: "Optimus Princeps";
  font-weight: 400;
}
